<center>
<h1>Eden II</h1>
<div class="row">
	<form action="/main">
		<input type="text" class="input-lg input-xs" style="font-size: 18px; margin-bottom: 10px" /><br />
		<input type="password" class="input-lg input-xs" style="font-size: 18px; margin-bottom: 10px" /><br />
		<button style="width: 80px; height: 45px">Go</button>
	</form>
</div>
</center>
