<h1 class="logo col-ms-2 col-md-offset-5">Eden II</h1><br>
<br>
<br>
<!-- this is very bad -->
<br>
<br>
<p class="col-md-2 col-md-offset-5">
	<input type="text" style="margin-bottom: 10px" /><br>
	<input type="text" />
</p>
